@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.skeleton-loading{
  opacity: 0.8;
  animation: skeleton-animation 1s linear infinite alternate;
}

.nft-grid-item{
    height: 90%;
    border: 3px solid burlywood;
    box-shadow: 1px 1px 1px 1px #00000099;
    position: relative;
}

.nft-grid-item__title, .nft-grid-item__price{
  position: absolute;
  bottom: 0;
  color: black;
  background: #ffffff99;
  padding: 1%;
}

.nft-grid-item__price {
  right: 0;
}

@keyframes skeleton-animation {
  0% {
    background-color: hsl(200, 20%, 10%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}