@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(222 222 222);
}


.skeleton-loading{
  opacity: 0.8;
  animation: skeleton-animation 1s linear infinite alternate;
}

.nft-grid-item{
  height: 90%;
  border: 3px solid burlywood;
  box-shadow: 2px 2px 5px 4px #00000099;
  position: relative;
  border-radius: 4px;
}

.nft-grid-item__title, .nft-grid-item__price{
  position: absolute;
  bottom: 0;
  color: black;
  background: #ffffff99;
  padding: 1%;
}

.nft-grid-item__price {
  right: 0;
}

@keyframes skeleton-animation {
  0% {
    background-color: hsl(200, 20%, 10%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}